<a href="https://colab.research.google.com/github/nikkijha97/Interview-question/blob/main/capgemini_L1_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
##Give me numbers which are divisible by 7 from 0 to 100 using List comprehension.
l1=[num for num in range(101) if num%7==0]
l1

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [4]:
##reversing a string
wordss=input("write a string")
splitted_word=wordss.split(" ")
splitted_word

write a stringHello wold in my world

['Hello', 'wold', 'in', 'my', 'world']

In [9]:
reversing_list = splitted_word[::-1]
reversing_list

['world', 'my', 'in', 'wold', 'Hello']

In [11]:
out=' '.join(reversing_list)
out

'world my in wold Hello'

SQL interview Questions
1. find out the min,max avg of marks of students of each given classes(partion by class) for given table of student column names:-student id, student marks, student class

Answer:-


select s.*

avg(marks) over(partition by student_class) as avg_mark,

min(marks) over(partition by student_class) as min_mark,

max(marks) over(partition by student class) as max_mark

from student;   


2. what is difference between RANK(), ROW NUMBER(), DENSE RANK()
3. Difference between group by and partition clause